body
{
	background-color: red;
	font-family: Arial;
	font-size: 2em;



}

.titre
{
	background-color: green;
	height: 150px;
	width: 50%;
	margin:auto;
	color: black;

}

.p1
{
	height: 250px;
	width: 80%;
	background-color: green;
	border: 2px solid yellow;
	border-radius: 20px;
	margin:auto;
	margin-top: 20px;



}
.p2
{
	height: 200px;
	width: 80%;
	background-color: yellow;
	border: 2px solid green;
	border-radius: 20px;
	margin:auto;
	margin-top:20px;



}
